<p id="notice"><%= notice %></p>

<header class="wrapper">
	<h1>Roberto Pesce</h1>
	<p> 
		Product Designer with 6+ years of experience working along with product engineering and software engineering in product development projects with multi-functional teams. 
		<br />Currently living in Amsterdam, Netherlands. 
		<i class="fa fa-facebook-official" aria-hidden="true"></i>
		<i class="fa fa-medium" aria-hidden="true"></i>
	</p>
</header>

<br class="clear" />