<section class="wrapper sobre-roberto">
	<div class="bloco">
		<div class="flex">
			<hr>
			<h4>ABOUT</h4>
			<%= link_to image_tag("behance.svg", :alt => "Behance Icon", :class => "img-size"), "http://behance.net/robertopesce" %>
			<%= link_to image_tag("linkedin.png", :alt => "LinkedIn Icon", :class => "img-size"), "https://www.linkedin.com/in/roberto-pesce-jr-00746249/" %>
			<%= link_to image_tag("medium.svg", :alt => "Medium Icon", :class => "img-size"), "http://medium.com/@robertopesce" %>
			<%= link_to image_tag("github.png", :alt => "Github Icon", :class => "img-size"), "http://github.com/rpesce" %>
		</div>
		<div class="flex2">
			<p>
				Hi, my name is Roberto Pesce. 
				I’m a generalist Product Designer coming from the Business side of the force. I started my career with a B.B.A, and thrived my way into the Design field by adding formal studies like an MBA in Project Management and a Certificate in Graphic Design to my curriculum, as well as a lot of curiosity and hands-on experience on working with Product Development in multinational and startup companies.
			</p>
			<br />
			<p>
				Come with me and I'll tell you a little bit about my journey, so far.
			</p>
			<br />
			<p>
				MILESTONE 1: DISCOVERING THE PASSION FOR PRODUCT
				<br />
				While in the university I started working for Carrier Corporation as a Product Marketing Intern, and this is where I realized how passionate for Product Development I am.
				<br />
				I was in charge of monitoring competitors, crafting benchmarks and preparing analysis reports for the Product Marketing Manager. I also could ‘put my hands-on’ product development by representing the Product Marketing Department in Product Development Meetings along with Product Engineering, Financial, Industrial Engineering and other Depts. By representing the Product Marketing I was also in charge of following up with field tests, user testings, and tests performed inside our lab.
			</p>
			<p>
				MILESTONE 2: GRADUATING IN BUSINESS
				<br />
				After leaving Carrier I decided to focus on graduating, and I graduated with a 9.5 final-term grade (out of 10), and an average grade of 8.5 (out of 10) for the full course.
			</p>
			<p>
				MILESTONE 3: HOW IMPORTANT IS A GOOD PROJECT
				<br />
				After graduating it was time to apply the theory and follow my entrepreneurial dreams. As I’m a risk taker, I started up an e-commerce platform called Crits, along with a partner. I was in charge of developing, testing and improving our web platform, as well as creating strategies for advertisement and tracking.
				<br />
				It was a time of learning and real hands-on experiences. We actually had success with our strategies and, by my own perspective, I learned how to code, to design and to test a hypothesis with users. I learned how to interpret analytical web-tools and implement improvements supported by usability testings and A/B testings.
				<br />
				Although Crits was doing well, I realized that I still had a lot to learn about executing projects, especially when talking about product development. So I decided to leave Crits and enroll in an MBA in Project Management. This is when I learned the real value of a good project, following the PMI standards and some Agile Software Development Methodologies.
			</p>
			<p>
				MILESTONE 4: LEADING TEAMS AND WHAT I DON’T WANT TO DO
				<br />
				The memories of working for a big company were still very present in my mind, and I still had a child dream of working for AmBev (me and millions of other Brazilians). I applied for a job, then, and was hired as a Trade Marketing Supervisor. It was a fast, but very important, working experience, with one promotion in less than one year. AmBev is the biggest brewery in Latin America, has thousands of employees and a strong culture of ownership and goals, so there I learned how to lead and manage a team, take care of my goals, develop target markets and even take care of a focus-area for the FIFA World Cup 2014. I also had product-related learnings while managing marketing efforts for some of the biggest brands in the world with massive market-shares but, at the end of the day, I realized that this is not the kind of job that I want to do.
			</p>
			<p>
				MILESTONE 5: DESIGN &amp; UX
				<br />
				I was still thinking and studying product development and tech in my spare-time, and this was making me crazy. I was comfortable working in a big company, but by the end of 2014 I quit from AmBev, although its greatness. My passion was speaking louder.
				<br />
				I realized that I needed to improve my English skills, develop my Graphic Design skills and understand better about the User-Centered approach. This is when I decided to leave Brazil and learn from the bests. Where did I go? California, of course.
				<br />
				I took the risk and moved to San Diego, California, with the dream of learning design and making money out of it, if possible, working for a startup. I enrolled to a Certificate in Graphic Design, and after one year was graduated with Honors. Following my love for the tech industry and UX, I focused on learning the User-Centered approach and Human-Computer Interaction by enrolling in online courses, going to MeetUps and Lectures at UCSD. I also wanted to get practical experience and applied for a non-profit internship at LuckyBolt, a Startup Company from San Francisco, and this was when I realized that my dream came true, I was living in the mecca of the technology and was working for a startup.
			</p>
			<p>
			MILESTONE 6: FINALLY, A DESIGNER
			<br />
			It was a great time of learning again, and I finally had a full Product Development experience. I started understanding the business side, learned how to plan and execute projects and focused on learning about interaction design, Human-Computer Interaction, visual design and front-end development. I had experience with different industries and companies sizes, an international experience and practical experience on analyzing and overcoming complex problems. I was, finally, a designer, and was ready for more challenges.
			<br />
			So, in order to finally transition my career path into the Design field I came to the Netherlands, where, by holding my European Citizenship, I would be able to start over and apply all my skills into this new field, eventually, building a successful career as a Product Designer.
			</p>
		</div>
	</div>
</section>

<br class="clear" />