<div class="about">
	<h1>Nice to meet you!</h1>

	<p>
		I’m Roberto Pesce, a Brazilian/Italian Product Designer with 6+ years of experience working with startups and multinational companies. How do I differentiate from other Product Designers? Well, I come from the business side of the force. Yes, besides design, I also love business, analysis, strategy, and numbers. This is probably where my passion for product development comes from.
		<br /> Not enough to differentiate? Maybe not, but, as a very curious reader
	</p>
	<h3 class="highlight">
		I am always learning new skills from books, articles, formal education and, most important, LIFE EXPERIENCES.
	</h3>
	<p>
		The thing is, if I believe that the User-Centered approach is one of the best ways (ok, the best in my opinion) to address meaningful problems and provide effective solutions, how can I put myself on users’ shoes without knowing them well?
		This is why I believe that as more experiences I have, more able to advocate for users, and a better designer I’ll be. So, by following this philosophy, I’ve earned a B.B.A, an MBA in Project Management, and a Certificate in Graphic Design. I’ve also attended to many other online and offline courses, congresses and meetups.
	</p>
	<p>
		Ok, but, as we all probably agree, studying is not all in life and
	</p>
	<h3 class="highlight">
		 I also learned from living in three Countries, opening two startups, and working for two multinational companies.
	</h3>
	<p>
		Living experiences is also pretty interesting as you also discover some weird things about yourself:
	</p>
	<ul>
		<li>I love to go to the beach, but I’m also passionate about snowboarding.</li>
		<li>I love the city life, but if you ask me honestly, I’ rather be in the mountains to sleep under that crazy starry sky. It makes me believe that I am in heaven.</li>
		<li>Love dogs, but can also have good times with cats.</li>
		<li>I speak three languages but am trying hard to learn another one: Dutch (it’s way too hard).</li>
		<li>I love design, but am very interested in coding.</li>
		<li>I like to write, to hike and to run.</li>
		<li>I like to stay, I like to go, and I like to have fun.</li>
		<li>I’m Rock’n Roll while working, but Reggae when resting.</li>
	</ul>
	<p>
		Well, so, as you can see I’m an Experience Designer on 100% of my spare time, as well as on 100% of my working time. I like to live to become better. I trust on my own experiences to understand the world on users' shoes, and I do that because I love my job and really believe that good experiences build more than just products, but moments. More than just solutions, but behaviors, feelings, and continuity. And as I usually say,
	</p>
	<h3 class="highlight">By the end of the day, it’s all ABOUT USERS!</h3>
	<p>Cheers!</p>
</div>