.wrap{
	max-width: 100vw;
	overflow-x: hidden;
    overflow-y: hidden;
}

/*HEADER*/

.head{
	background-image: url(<%= asset_path 'Brazuka_Cover.jpg' %>);
    background-size: cover;
	background-repeat:no-repeat;
	background-position:0 0;
	background-attachment: fixed;
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.header__wrapper{
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	margin: 3vw 5vw;
}

.head__text{
	padding: 20vw 13vw;
	text-align: center;
}

.head__text h1{
	font-weight: 500;
	color: #2c96df;
	font-size: 141.18%;
}

.head__text h3{
	font-size: 100%;
}

.head__icon--position a{
	display: block;
	margin-top: 1vw;
}

.head__icon--position a:first-child{
	margin-top: 3vw;
}

.head__icon--size{
	width: 12vw;	
}

.head__phone{
	margin: auto;
}

.head__phone img{
	width: 90%;
	margin-top: 4vw;
	margin-bottom: 4vw;
}

/*GRADIENT BACKGROUND*/

.grad {
	background: rgba(244, 244, 244, 0.56); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to bottom, #ffffff, rgba(244, 244, 244, 0.56)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #ffffff, rgba(244, 244, 244, 0.56)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #ffffff, rgba(244, 244, 244, 0.56)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ffffff, rgba(244, 244, 244, 0.56)); /* Standard syntax (must be last) */
}



/*PORTFOLIO ENTIRE BLOCK*/
.portfolio{
	margin: auto 10vw;
}

.portfolio h2 {
	font-size: 211.76%;
	font-weight: 500;
	color: #32363d;
	padding-top: 2vw;
	padding-bottom: 1vw;
}

.portfolio h3 {
	font-size: 164.70%;
	font-weight: 400;
	color: #32363d;
	padding-top: 2vw;
	padding-bottom: 1vw;
}

.portfolio p, ul{
	font-size: 105.88%;
	color: #32363d;
	padding-top: 2vw;
	padding-bottom: 1vw;	
}

/*INTRODUCTION*/

.introduction {
	margin: 5vw auto;
    position: relative;
}

.introduction img{
	margin: 5vw auto;
	padding-bottom: 5vw;
	display: block;
	max-width: 100%;
}

.introduction ul{
	list-style-type: disc;
	margin-left: 2vw;
}


/*PROCESS*/

.process ul{
	margin-top: 2vw;
	margin-bottom: 4vw;
	list-style-type: decimal;
	margin-left: 2vw;
}

/*RESEARCH*/
.research{
	margin-top: 4vw;
}

.research ul{
	margin-top: 2vw;
	margin-bottom: 4vw;
	list-style-type: disc;
	margin-left: 2vw;
}


/*HOW MIGHT WE*/
.hmw {
	background-image: image-url('hmw_background.jpg');
	background-repeat:no-repeat;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hmw__text {
	padding: 4vw;
}

.hmw h2{
	color: #fff;
	font-size:164.70% ;
	font-weight: 500;
	margin:1vw;
	text-align: center;
}

.hmw h5{
	color: #fff;
	font-size:105.88% ;
	font-weight: 300;
	margin:1vw auto 3vw auto;
	text-align: center;	
}

/*DOCUMENT*/

.document {
	margin-top: 4vw;
}

.document img{
	width: 80%;
	margin: auto;
	margin-top: 5vw;
	margin-bottom: 5vw;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/*DESIGN*/

.design {
	margin-top: 4vw;
}

.design__images{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 5vw 1vw;
}

.design__images img{
	margin: 1vw;
	padding: 1vw;
}

/*PROTOTYPE*/

.prototype p{
	margin-bottom: 4vw;
}

/*DELIVER*/

.deliver {
	margin-top: 4vw;
}

.deliver h3{
	font-size: 141.18%;
	font-weight: 500;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

.deliver p{
	font-size: 105.88%;
	font-weight: 300;
	text-align: center;
	padding: 0 !important;
	margin: 1vw 0 0 0 !important;
}

.deliver__steps{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin:3vw auto;	
	
}

.deliver__steps--row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	margin: 2vw 0 0 0;

}

.deliver img{
	width: 95%;
}

.deliver__image--positionR{
	padding: 0 3vw 0 1vw;
	margin: 0 5vw 0 0;
}

.deliver__image--positionL{
	padding: 0 3vw 0 1vw;
	margin: 0 0 0 5vw;
}

.deliver__text--positionR {
	width: 30vw;
	padding: 0 3vw 0 3vw;
	margin: 12vw 8vw 0 0;	
}

.deliver__text--positionL {
	width: 30vw;
	padding: 0 3vw 0 3vw;
	margin: 12vw 0 0 8vw;	
}

.deliver__h3--blue{
	color: #2c98de !important;
}

.deliver__h3--orange{
	color:#e84c36 !important;
}

.deliver__h3--yellow{
	color:#f0c401 !important;
}

.deliver__h3--green{
	color:#20cd6c !important;
}


/*SEPARATOR*/
.separator__div--size1{
	background-image: url('Process_background.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
	height: 30vw;							
	transform: translateZ(.50px) scale(1.05) translateX(0%) translateY(0%) rotate(0);
}

.separator__div--size2{
	background-image: url('FlowChart.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
	height: 30vw;
	transform: translateZ(.50px) scale(1.05) translateX(0%) translateY(0%) rotate(0);
}

.separator__div--size3{
	background-image: url('prototype_background.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
	height: 30vw;
	transform: translateZ(.50px) scale(1.05) translateX(0%) translateY(0%) rotate(0);
}

.portfolio__img--position{
	margin-top: 10vw;
}

/*FOOTER*/
footer p{
	padding: 2vw;
	margin: auto;
	text-align: center;
	font-size: 70%;
}


/* MEDIA QUERIES*/

@media (max-width: 600px){

	.header__wrapper a{
		font-size: 80%;
	}

	.header__wrapper{
		margin: 3vw 8vw;
	}

	.head__text{
		padding: 20vw 8vw;
	}

	.head__text h1{
		font-size: 80%;
	}

	.head__text h3{
		margin-top: 1vw;
		font-size: 70%;
		line-height: 4vw;
	}

	.head__icon--position a{
		display: block;
		margin-top: 0;
	}

	.head__icon--position a:first-child{
		margin-top: 4vw;
	}

	.head__icon--size{
		width: 25vw;	
	}

	.head__phone img{
		width: 70%;
		display: block;
		margin: auto;
	}

	/*PORTFOLIO ENTIRE BLOCK*/

	.portfolio h2 {
		font-size: 151.76%; /*211.76%;*/
	}

	.portfolio h3 {
		font-size: 141.76%;  /*164.70%;*/
		padding-top: 6vw;
		padding-bottom: 4vw;
	}

	/*INTRODUCTION*/

	.introduction img{
		margin: 10vw 0 auto;
		padding-bottom: 10vw;
	}

	.introduction ul{
		margin-left: 2vw;
	}


	/*PROCESS*/

	.process ul{
		margin-top: 5vw;
		margin-bottom: 10vw;
	}


	/*RESEARCH*/
	.research{
		margin-top: 6vw;
	}

	/*HOW MIGHT WE*/

	.hmw__text {
		padding: 6vw;
	}

	.hmw h2{
		font-size:124.70% ;
	}

	.hmw h5{
		font-size:95.88% ;
	}

	/*DOCUMENT*/

	.document {
		margin-top: 6vw;
	}

	.document img{
		width: 100%;
		margin-top: 6vw;
		margin-bottom: 12vw;
	}

	/*DESIGN*/

	.design {
		margin-top: 6vw;
	}

	.design__images{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		margin: 5vw 1vw;
		padding-bottom: 6vw;
	}

	.design__images img{
		width: 95%;
		margin: 3vw auto;
	}

	/*PROTOTYPE*/

	.prototype p{
		margin-bottom: 10vw;
	}

	/*DELIVER*/

	.deliver {
		margin-top: 6vw;
	}


	.deliver h3{
		font-size: 130%;
	}

	.deliver p{
		font-size: 85%;
		line-height: 4vw;
	}

	.deliver__steps{
		margin:0 !important;
	}

	.deliver__steps--row{
		width: 100%;
		margin: 10vw 0 0 0;
	}

	.deliver img{
		width: 30vh;
	}

	.deliver__image--positionR{
		padding: 0 !important;
		margin: auto !important;
	}

	.deliver__image--positionL{
		padding: 0 !important;
		margin: auto !important;
	}

	.deliver__text--positionR {
		width: 30vw;
		padding: 0vw;
		margin: 12vh 0;
	}

	.deliver__text--positionL {
		width: 30vw;
		padding: 0vw;
		margin: 12vh 0;
	}


	/*SEPARATOR*/
	.separator__div--size1{
		background-attachment: scroll;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 -2px 6px 0 rgba(0, 0, 0, 0.2);

		height: 60vw;
	}

	.separator__div--size2{
		background-attachment: scroll;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 -2px 6px 0 rgba(0, 0, 0, 0.2);

		height: 90vw;
	}

	.separator__div--size3{
		background-attachment: scroll;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
		height: 60vw;
	}

	.portfolio__img--position{
		max-width: 110vw;
		margin-top: 10vw;
	}

	/*FOOTER*/
	footer p{
		padding: 2vw;
		margin: auto;
		text-align: center;
		font-size: 70%;
	}
}


@media (min-width: 601px) and (max-width: 900px){
	/*HEADER*/
	.head__text{
		padding: 20vw 10vw;
	}

	.head__text h1{
		font-size: 141.18%;
	}

	.head__text h3{
		margin-top: 2vw;
		line-height: 3vw;
	}

	.head__icon--position a:first-child{
		margin-top: 4vw;
	}

	.head__icon--size{
		width: 15vw;	
	}

	.head__phone img{
		width: 75%;
	}

	/*PORTFOLIO ENTIRE BLOCK*/

	.portfolio h2 {
		font-size: 200%;
	}

	.portfolio h3 {
		font-size: 150%;
		padding-top: 3vw;
		padding-bottom: 2vw;
	}

	/*INTRODUCTION*/

	.introduction img{
		padding-bottom: 7vw;
	}

	/*PROCESS*/

	.process ul{
		margin-bottom: 6vw;
	}

	/*RESEARCH*/
	.research{
		margin-top: 6vw;
	}

	.research ul{
		margin-bottom: 6vw;
	}


	/*HOW MIGHT WE*/
	.hmw h2{
		font-size:130% ;
	}

	/*DOCUMENT*/

	.document {
		margin-top: 6vw;
	}

	.document img{
		margin-bottom: 6vw;
	}

	/*DESIGN*/

	.design {
		margin-top: 6vw;
	}

	/*PROTOTYPE*/

	.prototype h2{
		line-height: 6vw !important;
	}

	.prototype p{
		margin-bottom: 6vw;
	}

	/*DELIVER*/

	.deliver {
		margin-top: 6vw;
	}

	.deliver h3{
		font-size: 135%;
	}

	.deliver p{
		font-size: 100%;
	}

	.deliver img{
		width: 90%;
	}
}

@media (min-width: 1281px) and (max-width: 1600px){


	/*HEADER*/
	.head__text h1{
		font-size: 180%;
	}

	.head__text h3{
		margin-top: 1vw;
		font-size: 130%;
	}


	.head__phone img{
		width: 100%;
	}

	/*PORTFOLIO ENTIRE BLOCK*/
	.portfolio{
		margin: auto 15vw;
	}

	.portfolio p, ul{
		font-size: 120%;
		color: #32363d;
		padding-top: 2vw;
		padding-bottom: 1vw;	
	}

	.portfolio li{
		font-size: 120%;
		color: #32363d;
	}


	/*RESEARCH*/
	.research__p--position{
		padding-top: 1vw !important;
		margin-top: 0 !important;
	}

	/*HOW MIGHT WE*/
	.hmw {
		background-size: cover;
	}

	.hmw h5{
		color: #fff;
		font-size:130% ;
		font-weight: 300;
		margin:1vw auto 3vw auto;
		text-align: center;	
	}

	.document img{
		width: 90%;
	}

	/*DELIVER*/

	.deliver h3{
		font-size: 150%;
	}

	.deliver p{
		font-size: 115%;
	}

	.deliver__steps--row{
		margin: 5vw 0 0 0;
	}

	.deliver img{
		width: 100%;
	}

	.deliver__image--positionR{
		padding: 0;
		margin: 0 7vw 0 0;
	}

	.deliver__image--positionL{
		padding: 0;
		margin: 0 0 0 7vw;
	}

	.deliver__text--positionR {
		width: 30vw;
		padding: 0;
		margin: 12vw 0 0 0;
	}

	.deliver__text--positionL {
		width: 30vw;
		padding: 0;
		margin: 12vw 0 0 0;
	}

	/*SEPARATOR*/

	.portfolio__img--position{
		margin-top: 10vw;
		width: 100vw;
	}

	/*FOOTER*/
	footer p{
		font-size: 80%;
	}
}

@media (min-width: 1601px){


	/*HEADER*/
	.head__text h1{
		font-size: 200%;
	}

	.head__text h3{
		margin-top: 1vw;
		font-size: 160%;
	}


	.head__phone img{
		width: 120%;
	}

	/*PORTFOLIO ENTIRE BLOCK*/
	.portfolio{
		margin: auto 15vw;
	}

	.portfolio h2 {
		font-size: 300%;
	}

	.portfolio h3 {
		font-size: 250%;
		padding-top: 3vw;
		padding-bottom: 2vw;
	}

	.portfolio p, ul{
		font-size: 180%;
		line-height: 4vh;
	}

	.portfolio li{
		font-size: 180%;
		margin: 1vw auto;
	}


	/*HOW MIGHT WE*/
	.hmw {
		background-size: cover;
	}

	.hmw h2{
		font-size:230%;
	}

	.hmw h5{
		font-size:170%;
		font-weight: 300;
		margin:1vw auto 3vw auto;
		text-align: center;	
	}

	.document img{
		width: 100%;
	}

	/*DESIGN*/

	.design__images{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		margin: 5vw 1vw;
	}

	.design__images img{
		margin: 1vw;
		padding: 1vw;
	}

	.design__images--position{
		width:75%
	}

	/*DELIVER*/

	.deliver h3{
		font-size: 250%;
	}

	.deliver p{
		font-size: 150%;
	}

	.deliver__steps--row{
		margin: 5vw 0 0 0;
	}

	.deliver img{
		width: 100%;
	}

	.deliver__image--positionR{
		padding: 0;
		margin: 0 7vw 0 0;
	}

	.deliver__image--positionL{
		padding: 0;
		margin: 0 0 0 7vw;
	}

	.deliver__text--positionR {
		width: 30vw;
		padding: 0;
		margin: 12vw 0 0 0;
	}

	.deliver__text--positionL {
		width: 30vw;
		padding: 0;
		margin: 12vw 0 0 0;
	}

	/*SEPARATOR*/

	.portfolio__img--position{
		margin-top: 10vw;
		width: 100vw;
	}

	/*FOOTER*/
	footer p{
		font-size: 80%;
	}
}

