// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.oi {
	padding: 2em 0 3em 0;

	a {
 	 color: white;

	  &:visited {
	    color: white;
	  }

	  &:hover {
	    color: white;
	  }
	}
}

.botao_2 {
	color: #fff;
	font-weight: 700;
	border: 1px solid #FCAA00;
	background-color: #FCAA00;
	border-radius: 3px;
	padding: 1em 3em;
	width: 100%;

	&:hover {
		;
		background-color: #FCCC33;	
		border: 1px solid #FCCC33;
		color: #666;
	}
}