/* CSS RESETS
------------------------------------------------------------ */
  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0; padding: 0; border: 0; vertical-align: baseline; font-size: 100%;}
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  	display: block;
  }

  body {
  	line-height: 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
  
  ol,ul {
  	list-style: none;
  }
      
  img {
  	vertical-align: middle;
  }


/* COMMON SETTINGS */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Montserrat', Helvetica, sans-serif;
	transition: color .15s linear, position .15s linear, background-color .15s linear, opacity .15s linear;
	-webkit-transition: color .15s linear, position .15s linear, background-color .15s linear, opacity .15s linear;
}

.clear {
	clear: both;
}

.container {
	margin: auto 10vw;
}

/* NAVBAR */

.nav-menu{
  letter-spacing: 0.1vw;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo {
	margin: auto 3vw;
}

.pesce {
	color: #4E7CC3;
}

.nav-menu ul{
  display: inline-flex;
  max-width: 100%;
  justify-content: flex-end;
  align-items: right;
  list-style-type: none;
}

.nav-menu .cl-effect-1 a {
  padding-bottom: 0.5em;
  margin: 0 2em;
  display: inline-block;
  color: #575757;
  -webkit-transition: color .3s;
  -moz-transition:    color .3s;
  -ms-transition:     color .3s;
  -o-transition:      color .3s;
  transition:         color .3s;
}

.nav-menu .cl-effect-1 a:hover{
  color: #575757;
}

.buttons{
  -webkit-transition: all .3s;
}

.buttons:hover{
  opacity:.7;
  -webkit-transition: all .3s;
}

.buttons:visited{
	color: #575757;
}


	/* UNDERLINE EFFECT */
	.cl-effect-1 a {
	  display: inline-block;
	  position: relative;
	}

	.cl-effect-1 a:after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  height: 0px;
	  width: 100%;
	  background: transparent;
	  -webkit-transition: all ease-in-out 0.3s;
	  -moz-transition: all ease-in-out 0.3s;
	  transition: all ease-in-out 0.3s;
	}

	.cl-effect-1 a:hover:after {
	  height: 3.5px;
	  background: #4E7CC3;
	}


	/*FADE IN*/

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

	.fade-in {
	  opacity:0;  /* make things invisible upon start */
	  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	  -moz-animation:fadeIn ease-in 1;
	  animation:fadeIn ease-in 1;

	  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	  -moz-animation-fill-mode:forwards;
	  animation-fill-mode:forwards;

	  -webkit-animation-duration:0.5s;
	  -moz-animation-duration:0.5s;
	  animation-duration:0.5s;

	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  animation-delay: 0s;
	  text-align: center;
	}

	.fade-in.one {
	  -webkit-animation-delay: 0.2s;
	  -moz-animation-delay: 0.2s;
	  animation-delay: 0.2s;
	}

	.fade-in.two {
	  -webkit-animation-delay: 0.3s;
	  -moz-animation-delay:0.3s;
	  animation-delay: 0.3s;
	}

	.fade-in.three {
	  -webkit-animation-delay: 0.4s;
	  -moz-animation-delay: 0.4s;
	  animation-delay: 0.4s;
	}

	.fade-in.four {
	  -webkit-animation-delay: 0.5s;
	  -moz-animation-delay: 0.5s;
	  animation-delay: 0.5s;
	}


