<!DOCTYPE html>
<html>
  <head>
    <title>Roberto Pesce | UX Designer | About Users</title>
    
    <meta name="description" content="Roberto Pesce is a UX Designer, usability specialist living in San Diego, CA." />
    <meta name="viewport" content="width=380, user-scalable=no" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
